#card_presentation {
  @include flex-space-row;
  margin-top: 20px;
  position: relative;

  #caractere {
    @include flex-start-row;

    #img_caractere {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
    }
    #text_caractere {
      margin-right: 20px;

      #datum {
        color: $desaturated_dark_blue;
        margin-top: 5px;
      }
    }
  }
}
